@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --text-color: #111111;
    --btn-color-hover: #E33239;
    --btn-color-active: #A30209;
    --primary-color: #007198;
    --ui-color: #BB1219;
    --bg-colorlight: #EBEBEB;
    --sectionborder-color: #A2AAB2;
    --bg-colordark: #DFE1E3;
    --btntext-color: #FFF7F7;
}

html {
    font-size: 1rem;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

p {
    font-size: 20px;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
}

li {
    list-style-type: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.h1 {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 40px;
    line-height: 120%;
    color: var(--text-color);
}

.h2 {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 40px;
    line-height: 120%;
    color: var(--text-color);
}

.text {
    font-size: 1.125rem;
    line-height: 120%;
    color: var(--text-color);
}

.header {}

.menu__contacts {
    font-weight: 700;
}

.container__header {
    max-width: 1720px;
    width: 100%;
    padding: 0 20px;
    margin: 0px auto;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header_logo {
    flex-shrink: 0;
}

.header__link {
    margin: 0px 0px 0px 105px;
}


.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
}

.menu__link {
    display: block;
    list-style: none;
    color: ;
}

.header__contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 0px 65px 0px 240px;
    gap: 50px;
}

.header__call {}

.btn {
    width: 240px;
    height: 70px;
    font-weight: 600;
    font-size: 20px;
    background-color: var(--ui-color);
    color: var(--btntext-color);
    font-family: 'Roboto', Arial, sans-serif;
    border: none;

}

.btn:hover {
    background-color: var(--btn-color-hover);
}

.btn:active {
    background-color: var(--btn-color-active);
}

.caret {
    position: relative;
    display: block;
    width: 5px;
    height: 3px;
    margin-left: 2px;
    margin-top: -2px;
}

.caret::before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    background-color: #BB1219;
}



.first-screen {
    position: relative;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px 0px rgba(17, 17, 17, 0.25);
    overflow: hidden;
    background-color: var(--bg-colordark);

}

.section {
    padding-top: 130px;
    padding-bottom: 130px;
}

.first__slider {
    display: flex;
}

.slider__text {
    max-width: 383px;
}

.first__info {}

.info__text {
    width: 730px;
    size: 20px;
}

.info__title {
    display: flex;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 70px;
    gap: 59px;
}

.info__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.info-card {
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 43px 25px;
    overflow: hidden;
    border: 1px solid var(--sectionborder-color);

}

.service-card__img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-card__text {
    text-align: center;
    margin: 0;
    padding-top: 30px;
}

.card__text {
    position: relative;
    width: 260px;
    padding: 11px 35px;
    overflow: hidden;
    border: 1px solid var(--sectionborder-color);
}



.second-screen {
    overflow: hidden;
    background-color: var(--bg-colorlight);
}

.section {}


.project {}

.project__slider {}

.project__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project__blockone {}

.project__text-two {}

.project__text {}



.third-screen {
    position: relative;
    overflow: hidden;
    background-color: var(--bg-colordark);
}

.application {}

.application__textbox {
    margin-right: 30px;
    padding-left: 30px;
    width: 345px;
    background: transparent;
    align-items: center;
    height: 68px;
    border: 1px solid var(--sectionborder-color);
    color: var(--sectionborder-color);
}

.application__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}



.four-screen {
    overflow: hidden;
    background-color: var(--bg-colorlight);
}

.video__cards {}

.video__card {}

.video__play {}


.five-screen {
    position: relative;
    overflow: hidden;
    background-color: var(--bg-colordark);
}

.contacts {}


.container {
    max-width: 1110px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.footer__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    gap: 78px;
}

.footer__link {
    margin: 0;
}

.footer__call {}